# Java / Maven / Gradle
/target/
/build/
*.class
*.jar
*.war
*.iml

# IntelliJ IDEA / VS Code / Eclipse ayarları
/.idea/
/.vscode/
/.project
/.classpath
/.settings/

# Sistem dosyaları
.DS_Store
Thumbs.db

# Logs & temporary files
*.log
/logs/
/tmp/

# Environment / Secrets
application.properties
application.yml
.env
